.subscription {
    background-image: url("../assets/images/section-5.png");
    justify-content: center;

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 2rem;
        text-align: center;
    }

    &__form {
        display: flex;
        width: 18rem;

        @media all and (max-width: $phone) {
            width: 90%;
        }
    }

    &__input {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid white;
        padding-left: 1rem;
        margin: 0;
        width: 100%;
    }

    &__input::placeholder {
        color: $text-bold;
        font-weight: bold;
    }
}