@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    font-size: 16px;
    font-family: 'Varela Round',
    sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;

    @media all and (min-width: $tablet) and (max-width: $tablet-landscape) {font-size: 14px; }

    @media all and (min-width: $phone) and (max-width: $tablet) {font-size: 12px; }

    @media all and (max-width: $phone) {font-size: 10px; }
}

body {
    flex-direction: column;
}

a, h1 {color: $nav-color;}
// figure, p, h1, h2, h3 {
//     margin: 0;
// }

h1, h2, h3, p, span, a, button {
    font-family: 'Varela Round',
    sans-serif;
    letter-spacing: 0.15rem;
}

img {image-rendering: auto;}

.background__section-odd {
    background: $section-even-color;
}

.background__section-even {
    background: $section-odd-color;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section {
    display: flex;
    align-items: center;
    height: 20rem;
    width: 100%;
}

.section__bg {
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section__full-screen {
    height: 100vh;
}

.section-10-col--centered {
    display: flex;
    align-items: center;
    width: 100%;
    width: 80%;
    justify-content: space-between;
}

.wrapper {
    width: 100%;
}