.button {
    all: unset;
    font-size:  1rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: $accent-color;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background: lighten($accent-color, 10%);
    }

    &:focus {
        background: darken($accent-color, 10%);
        transform: scale(1.01);
    }
}

.button-store {
    text-align: left;
    margin-right: 1.625rem;
    width: 18.75rem;
    position: relative;
    box-sizing: border-box;
    background: $lighten-accent-color;

}

.btn-bg__placement {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: $accent-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn--apple-store {
    &::after {
        background-image: url(../assets/images/icons/fa-android.png);
        background-size: 10px 20px;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center;
        padding: 1rem 1rem;
        height: 100%;
        width: 3rem;
        box-sizing: border-box;
        @extend .btn-bg__placement;
        content: '';
        background-image: url(../assets/images/icons/fa-apple.png);
    }
}

.btn--play-store {
    &::after {
        @extend .btn--apple-store;
        content: '';
        background-image: url(../assets/images/icons/fa-android.png);
    }
}


.btn--search {
    @extend .button;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
}