.community {
    @extend .design;
    z-index: 2;
    display: flex;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 2rem 1rem;
    width: 90%;


    @media  (min-width: 1440px) {
        width: 80rem;
    }
    @media (max-width: $tablet-landscape) {
        width: 100%;

    }
    @media all and (min-width: $phone) and (max-width: $tablet) {
        flex-wrap: wrap;
        justify-content: center;

    }
    @media all and (max-width: $phone) {
        flex-direction: column;
        padding: 2rem 0;
    }

    &__figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 21rem;
        margin-right: 2rem;

        @media all and (max-width: $phone) {
            margin: 0rem;
            margin-bottom: 2rem;
            flex: 1;
        }
    }

    &__title {
        color: $text-bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__figcaption {
        text-align: center;
        color: $text-bold;
        width: 80%;
    }

    &__logo {
        margin-bottom: 1rem;
    }

    &__carousel {
        display: flex;
        justify-content: space-around;
        width: 100%;

        @media (max-width: $tablet-landscape) {
            flex: 1;
        }
         @media (min-width: $tablet) and (max-width: $tablet-landscape) {
            flex-wrap: wrap;
            width: 0;
            flex: 1;
         }
         @media all and (max-width: $phone) {
             flex-wrap: wrap;
         }
    }

    &__img {
        height: 15.25rem;
        width: 23.1875rem;
        image-rendering: pixelated;
        margin-left: 2rem;

        @media all and (max-width: $phone) {
            height: 25.25rem;
            width: 100%;
            margin: 0rem;
        }
    }

}